<!DOCTYPE html>
<html lang="en" ng-app="UrfMadnessApp">
<head>
  <meta charset="UTF-8">
  <title>Urf Madness</title>

  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/fonts.css" charset="utf-8">
  <link rel="stylesheet" href="css/style.css" charset="utf-8">
</head>
<body ng-controller="HomeCtrl">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="main-menu">
        <ul class="nav league-selector navbar-nav">
          <li><a class="bronze" ng-class="{active: leagues[index]['bronze']}" ng-click="chooseLeague('bronze')">Bronze</a></li>
          <li><a class="silver" ng-class="{active: leagues[index]['silver']}" ng-click="chooseLeague('silver')">Silver</a></li>
          <li><a class="gold" ng-class="{active: leagues[index]['gold']}" ng-click="chooseLeague('gold')">Gold</a></li>
          <li><a class="platinum" ng-class="{active: leagues[index]['platinum']}" ng-click="chooseLeague('platinum')">Platinum</a></li>
          <li><a class="diamond" ng-class="{active: leagues[index]['diamond']}" ng-click="chooseLeague('diamond')">Diamond</a></li>
          <li><a class="master" ng-class="{active: leagues[index]['master']}" ng-click="chooseLeague('master')">Master</a></li>
          <li><a class="challenger" ng-class="{active: leagues[index]['challenger']}" ng-click="chooseLeague('challenger')">Challenger</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main">
    <div class="logo">
    </div>

    <div class="description">
      Useless but accurate statistics for Ultra Rapid Fire. Get started by picking one or more leagues!
    </div>

    <div class="wrapper">
      <div class="facts">
        <div class="type-icon">
          <img src="{{facts[index].img}}"></img>
        </div>
        <ul>
          <li class="text" ng-repeat="fact in facts[index]"><span class="value">{{fact.value}}{{fact.unit | unit}}</span> {{fact.sentence}}</li>
        </ul>
        <a class="urf left" ng-class="{hide: index <= 0}" ng-click="previous()">
          &#x2770;
        </a>
        <a class="urf right" ng-click="next()">
          &#x2771;
        </a>
      </div>
    </div>
  </div>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/ngstorage/ngStorage.min.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
