<!DOCTYPE html>
<html lang="en" ng-app="UrfMadnessApp">
<head>
  <meta charset="UTF-8">
  <title>Urf Madness</title>

  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/fonts.css" charset="utf-8">
  <link rel="stylesheet" href="css/style.css" charset="utf-8">
</head>
<body ng-controller="HomeCtrl">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="main-menu">
        <ul class="nav league-selector navbar-nav">
          <li><a class="bronze" ng-class="{active: facts[index]['leagues']['bronze']['visible']}" ng-click="chooseLeague('bronze')">Bronze</a></li>
          <li><a class="silver" ng-class="{active: facts[index]['leagues']['silver']['visible']}" ng-click="chooseLeague('silver')">Silver</a></li>
          <li><a class="gold" ng-class="{active: facts[index]['leagues']['gold']['visible']}" ng-click="chooseLeague('gold')">Gold</a></li>
          <li><a class="platinum" ng-class="{active: facts[index]['leagues']['platinum']['visible']}" ng-click="chooseLeague('platinum')">Platinum</a></li>
          <li><a class="diamond" ng-class="{active: facts[index]['leagues']['diamond']['visible']}" ng-click="chooseLeague('diamond')">Diamond</a></li>
          <li><a class="master" ng-class="{active: facts[index]['leagues']['master']['visible']}" ng-click="chooseLeague('master')">Master</a></li>
          <li><a class="challenger" ng-class="{active: facts[index]['leagues']['challenger']['visible']}" ng-click="chooseLeague('challenger')">Challenger</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main">
    <div class="logo">
    </div>

    <div class="description">
      Useless but accurate statistics for Ultra Rapid Fire.<br>
      Get started by picking one or more leagues!
    </div>

    <div class="wrapper">
      <div ng-class="{hide: stats == false}" class="stats">
        <p>Games statistics</p>
        <ul>
          <li><span class="league">Bronze</span>12833 games</li>
          <li><span class="league">Silver</span>8453 games</li>
        </ul>
      </div>

      <div ng-class="{hide: stats == true}"  class="facts">
        <div class="type-icon">
          <img ng-src="{{facts[index].img}}"></img>
        </div>
        <ul>
          <li class="text" ng-repeat="league in facts[index].leagues | leaguevisible:true">
            <span class="value">{{ league.fact.value }}{{ league.fact.unit | unit }}</span><span class="sentence">{{ league.fact.sentence }}</span>
          </li>
        </ul>
        <a class="urf left" ng-class="{hide: index <= 0}" ng-click="previous()">
          &#x2770;
        </a>
        <a ng-class="{new: index == max}" class="urf right" ng-click="next()">
          {{ index == max ? 'New!' : '&#x2771;' }}
        </a>
      </div>
    </div>
  </div>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/ngstorage/ngStorage.min.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
